name: Build and deploy Next.js app to Azure Web App - AkomsNextJS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js app
        run: npm run build

      - name: Prepare artifact for deployment
        run: |
          mkdir deploy
          cp -r .next deploy/.next
          cp -r public deploy/public
          cp package.json deploy/
          cp package-lock.json deploy/
          cp -r node_modules deploy/node_modules

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-app
          path: deploy

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: nextjs-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CF37C8F7C2284F398BFB6733118EFE2A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_FDE1547A0CA9429889FEDD0631F48B32 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DBE68812ABAF4D0EB1B7FE37306A9D02 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "AkomsNextJS"
          slot-name: "Production"
          package: .
